
html, body {
max-width: 1500px;
}


/* Estilos de las Tablas en el Documento */

table {  
  color: #333;
  font-family: sans-serif;
  font-size: .9em;
  font-weight: 300;
  text-align: center;
  line-height: 40px;
  border-spacing: 0;
  border: 1px solid #428bca;
  width: 700px;
  margin: 20px auto 20px 50px;

  table-layout: fixed;
}

th {
  font-weight: bold;
  text-align: center;
  padding: 0;
}

td {padding: 0;}

thead tr {
  background: #428bca;
  color: #fff;
  border: none;
}

th:first-child, td:first-child {
  padding: 0 15px 0 20px;
  text-align: left;
}

/* thead tr:last-child th {border-bottom: 2px solid #ddd;} */

tbody tr:hover {background-color: #f0fbff;}

tbody td {border-bottom: 1px solid #ddd;}

tbody tr:last-child td {border: none;}

table thead tr:last-child td {
  text-align: center;
  padding: 0 0 0 1em;
}

/*Estilos particulares para cada Tabla*/

/* Tabla de Poblacion 02 */

#tablapoblacion02 table {
  width: 700px;
}

#tablapoblacion02 thead {
  line-height: 50px;
}

#tablapoblacion02 tbody {
  line-height: 30px;
}

/* Tablas de Vivienda */

/* Viviendas segun acceso al agua */

#tablavivienda01 table {
  width: 800px;
}

#tablavivienda01 thead {
  line-height: 30px;
}

#tablavivienda01 tbody {
  line-height: 30px;
}

#tablavivienda01 thead tr th:first-child {
  width: 150px;
}

/* Viviendas segun servicio de desague */

#tablavivienda02 table {
  width: 800px;
}

#tablavivienda02 thead {
  line-height: 30px;
}

#tablavivienda02 tbody {
  line-height: 30px;
}

#tablavivienda02 thead tr th:first-child {
  width: 150px;
}

/* Viviendas segun alumbrado eléctrico */

#tablavivienda03 table {
  width: 500px;
}

#tablavivienda03 thead {
  line-height: 30px;
}

#tablavivienda03 tbody {
  line-height: 30px;
}

#tablavivienda03 thead tr th:first-child {
  width: 150px;
}

/* Viviendas segun material de las paredes */

#tablavivienda04 table {
  width: 800px;
}

#tablavivienda04 thead {
  line-height: 30px;
}

#tablavivienda04 tbody {
  line-height: 30px;
}

#tablavivienda04 thead tr th:first-child {
  width: 150px;
}

/* Viviendas segun material de los pisos */

#tablavivienda05 table {
  width: 800px;
}

#tablavivienda05 thead {
  line-height: 30px;
}

#tablavivienda05 tbody {
  line-height: 30px;
}

#tablavivienda05 thead tr th:first-child {
  width: 150px;
}

/* Tablas de Situación Laboral */

#tablatrabajo01 table {
  width: 800px;
}

#tablatrabajo01 thead {
  line-height: 30px;
}

#tablatrabajo01 tbody {
  line-height: 30px;
}

#tablatrabajo01 thead tr th:first-child {
  width: 150px;
}


/* Tablas de Agricultura*/
/* Tabla de Agro 01 */

#tablaagro01 table {
  width: 1000px;
}

#tablaagro01 thead {
  line-height: 30px;
}

#tablaagro01 tbody {
  line-height: 30px;
}

#tablaagro01 thead tr th:first-child {
  width: 150px;
}

/* Tabla de Agro 02 */

#tablaagro02 table {
  width: 800px;
}

#tablaagro02 thead {
  line-height: 30px;
}

#tablaagro02 tbody {
  line-height: 30px;
}

#tablaagro02 thead tr th:first-child {
  width: 150px;
}